header {
	.top-bar {
		border-bottom: 1px solid $whitish;
    	background: $darkest;
		.top-bar-right {
			float: right;
			ul {
				padding: 0;
				margin: 10px 0;
				li {
					display: inline-block;
					font-size: 14px;
					margin-right: 10px;
					a {
						color: $white;
					}
					.btn-dash {
    					background: transparent;
    					border: transparent;
						color: $white;
						&:focus {
							outline : none;
						}
					}
				}
			}
		}
		.top-bar-left {
			float: left;
			ul {
				padding: 0;
				li {
					display: inline-block;
    				float: left;
    				font-size: 15px;
    				margin: 9px 15px;
					a {
						color: $white;
					}
				}
			}
		}
	}
	.middle-bar {
		margin: 7px 0;
		.navbar {
			.navbar-nav {
				li {
					margin: 0 5px;
					a {
						padding: 6px 20px;
    					border-radius: 6px;
						font-family: $Quicksand;
    					font-weight: 700;
    					color: $dark;
						&:hover {
							background: $dark;
							color: $white;
						}
					}
				}
				.active {
					a {
    					background: $primary;
						color: $white;
					}
				}
			}
		}
		.side-btn {
    		padding: 0;
    		margin: 0;
    		list-style: none;
			li {
				a {
					background: $primary;
    				color: $white;
    				padding: 7px 15px;
    				display: inline-block;
    				border-radius: 6px;
    				font-family: $Quicksand;
				}
			}
		}
	}
}