@mixin section-title() {
	.section-title {
    	font-size: 30px;
    	color: $dark;
    	line-height: 52px;
    	font-weight: 700;
		font-family: $Roboto;
    	padding-bottom: 15px;
    	margin-bottom: 30px;
    	text-align: center;
    	position: relative;
		&:before {
			position: absolute;
    		content: '';
    		height: 3px;
    		width: 70px;
    		margin-left: -90px;
    		bottom: 40px;
    		background-color: $primary;
		}
		&:after {
			position: absolute;
    		content: '';
    		height: 3px;
    		width: 70px;
    		margin-left: 20px;
    		bottom: 40px;
    		background-color: $primary;
		}
	}
}